.html {
    overflow:hidden;
}

.description {
    font-size: 2rem;
    width: 65vh;
    height: 35vh;
    max-height: 35vh;
    overflow-y: scroll;
}

.card {
    display: flex;
    width: 25vh;
    height: 35vh;
    background-color: white;
    border:5px solid slategray;
    border-radius: 25px;
    padding: 1vh;
    margin:1vh;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 5vh;
}

.left{
    background-color: blue;
}

.right{
    background-color: red;
}

button{
    margin-left: 55vh;
    margin-right: 55vh;
    width: 25vh;
    height: 10vh;
}

.play-area{
    display: flex;
    flex-direction:row;
}

.play1, .play2{
    display: flex;
    flex-direction: column;
}

.p1-card-count, .p2-card-count {
    font-size: 2rem;
}

header {
  padding-top: 0vh;
  padding-bottom: 0.5vh;
  width: 100%;
  text-align: center;
  background-color: skyblue
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: -5vh    
}